<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="1800">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <Logger name="org.springframework" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <!-- 这里是输入到控制台-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>